.main-head
  position: fixed
  width: 100%
  padding: 12px 0 10px
  border-bottom: 1px solid transparent
  z-index: 100
  +mt(.3s)
  background-color: transparent
  .hamburger.is-active
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
      background-color: #fff
  &.sticky
    background-color: #fff
    border-color: #e8e8e8
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
      background-color: $accent-violet
    .head-logo .logo-colored
      opacity: 1
    .main-mnu
      li
        a
          color: $text
          &:after
            background-color: $accent-violet
        &.active
          a
            color: $accent-violet
    .head-recall
      .phone
        color: $text

.white-page
  .main-head
    background-color: #fff
    border-color: #e8e8e8
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
      background-color: $accent-violet
    .head-logo .logo-colored
      opacity: 1
    .main-mnu
      li
        a
          color: $text
          &:after
            background-color: $accent-violet
        &.active
          a
            color: $accent-violet
    .head-recall
      .phone
        color: $text
    .btn
      border-color: $accent-red
      color: $accent-red
      background-color: transparent
      &:hover, &:active, &:focus
        background-color: $accent-red
        color: #fff
  .mm-panel
    .main-head
      border: none
      background-color: transparent


.head-logo
  position: relative
  display: block
  width: 65px
  .logo-colored
    position: absolute
    top: 0
    left: 0
    opacity: 0
    +mt(.3s)
  .logo-white
    opacity: 1
    +mt(.3s)

.header-line
  display: flex
  justify-content: space-between
  align-items: center
  position: relative

.main-mnu
  li
    display: inline-block
    margin-right: 15px
    &:last-child
      margin-right: 0
    a
      color: #fff
      display: inline-block
      position: relative
      &:after
        content: ''
        position: absolute
        height: 2px
        width: 0
        background-color: #fff
        left: 0
        bottom: -6px
        +mt(.3s)
      &:hover
        &:after
          width: 100%
    &.active
      a
        &:after
          width: 100%

.head-recall
  .btn
    margin-left: 20px
  .phone
    position: relative
    top: 1px
    font-size: 16px
    color: #fff
    +mt(.3s)


.mmenu-btn
  position: absolute
  left: -90px
  top: 15px
  .hamburger-box
    width: 30px

.hamburger:hover
  opacity: 1

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
  width: 30px
  height: 2px
  background-color: #fff
  &:hover
    color: #fff


//mmenu
.mm-panel
  overflow: visible
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    background-color: $accent-violet!important
  .mmenu-btn
    top: 27px
  .logo-colored
    opacity: 1
  .main-head.sticky
    border: none
    background-color: transparent

.mobile-left
  background-color: #fff
  height: 100vh
  width: 50%
  display: inline-block
  font-size: 36px
  vertical-align: top
  position: relative
  &-wrap
    width: 370px
    position: absolute
    top: 150px
    right: 0
    height: calc(100% - 150px)!important
  ul
    font-family: "GothamPro", sans-serif
    font-weight: 700
    li
      line-height: 1
      margin-bottom: 30px
      position: relative
      a
        display: inline-block
        position: relative
        color: $text
        +mt(.3s)
        &:after
          content: ''
          position: absolute
          width: 0
          height: 4px
          background-color: $accent-violet
          +mt(.3s)
          left: 0
          bottom: -6px
        &:hover
          color: $accent-violet
          &:after
            width: 100%
      &.active
        a
          color: $accent-violet
          &:after
            width: 100%
  .socials-block
    position: absolute
    left: 0
    bottom: 40px

.mobile-right
  height: 100vh
  display: inline-block
  width: 50%
  position: relative
  background-image: linear-gradient(to top,#e73652 0%,#643588 68%,#643588 100%)
  font-size: 14px
  &-wrap
    width: 280px
    padding-top: 100px
    margin-left: 95px
    color: #fff
  .contact-form
    background-color: transparent
    padding: 0
    margin-top: 25px
    h3
      color: #fff
    input, select
      background-color: transparent
      border-color: #fff
      color: #fff
      &::placeholder
        color: #fff
    .contacts-select .jq-selectbox__select
      background-color: transparent
      text-shadow: none
    .contacts-select .jq-selectbox__select-text
      color: #fff
    .jq-selectbox__dropdown
      margin-top: 28px
      border-radius: 0
    .privacy
      color: #fff


.mobile-mnu-wrapper
  display: flex
  font-size: 0

